project_domen=ru.whisper.whitepower
project_id=WhitePower
project_version=1.5a28
project_build=325
project_mine_version=1.7.10
project_forge_version=10.13.0.1180
